<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3 text-center">
        Linking Park
      </h1>
      <p class="col-lg-10 fs-4 text-center">
        Use Linking Park to manage all your important links by adding them to a
        world that you can walk around and interact with it. Linking Park makes
        a perfect productivity manager by offering you a way to group links for
        different tasks.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com" />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password" />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-danger" type="submit">
          USER ACCOUNTS COMING SOON
        </button>
        <hr class="my-4" />
        <small class="text-body-secondary"
          >By clicking Sign in, you agree to the terms of use.</small
        >
      </form>
    </div>
  </div>
</div>

<div>
  <img
    src="./images/hero.png"
    class="d-block w-100"
    alt="Cliff Above a Stormy Sea" />
</div>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Features of Linking Park</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">How to use Linking Park</h2>
      <p class="text-body-secondary">
        Check out the how you can add links and control your character in the
        world of Linking Park.
      </p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Explore the Town</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Work Productively</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Add new links</h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table"></use>
            </svg>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">
            Delete/Update links
          </h4>
          <p class="text-body-secondary">
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
