<div style="display: flex" class="content">
  <div
    class="side-bar-nav d-flex flex-column flex-shrink-0 p-3"
    style="width: 280px">
    <ul class="link-nav nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">Folder One</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Two</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Three</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Four</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Five</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Six</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Seven</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Eight</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">Folder Nine</a>
      </li>
    </ul>
    <!-- <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <img
          src="https://github.com/mdo.png"
          alt=""
          class="rounded-circle me-2"
          width="32"
          height="32" />
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>
  <div class="links">
    <div
      class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center">
      <div class="list-group"></div>
    </div>
    <form>
      <div class="form-floating">
        <input
          type="text"
          class="form-control site-input"
          id="floatingPassword"
          placeholder="https://google.com" />
        <label for="floatingPassword">Website URL</label>
      </div>

      <button
        id="button-submit"
        class="btn btn-primary w-50 py-2"
        type="submit">
        Add Link
      </button>
    </form>
  </div>
  <div class="tutorial">
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">How to open your links</h3>
      <p>
        Head over to the village and walk around a little, each of the houses
        and points of interest will bring a popup to your attention. Follow the
        onscreen instructions to open the tabs related to that point of
        interest.
      </p>
    </div>
    <hr />
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">How to add new links</h3>
      <p>
        If you want to add new links to a point of interest, click on the image
        on the left that matches your point of interest and type in your link.
        Click add and it will be added to your saved links for that point of
        interest.
      </p>
    </div>
    <hr />
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">How to delete links</h3>
      <p>TO BE ADDED</p>
    </div>
  </div>
</div>

<script type="module" src="./utils/links.js"></script>
