* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5088d8;
}

.nav-container {
  position: absolute;
  top: 0.5%;
  right: 1%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-container .nav-inner-container-right {
  width: 10%;
  display: flex;
  gap: 5%;
  padding: 0;
}
.nav-container .nav-inner-container-right button {
  height: 40px;
  width: 40px;
  border-radius: 25%;
  border: none;
  outline: none;
  background-color: #37e484;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-container .nav-inner-container-right button img {
  height: 30px;
}
.nav-container .nav-inner-container-right button:hover {
  transform: scale(105%);
}
.nav-container .nav-inner-container-right button:active {
  transform: scale(90%);
}

.link-container {
  position: absolute;
  width: 40vw;
  height: 80vh;
  right: 3%;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  box-sizing: border-box;
}
.link-container .header {
  background-color: #37e484;
  width: 60%;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5%;
}
.link-container .links {
  padding-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  flex: 6;
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 87%;
}
.link-container .links .link-nav {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 5%;
  height: 100%;
}
.link-container .links .link-nav img {
  padding: 7.5%;
  height: 40px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.link-container .links .link-nav img:hover {
  transform: scale(105%);
}
.link-container .links .link-nav img:active {
  transform: scale(90%);
}
.link-container .links .link-nav .active {
  background-color: #37e484;
}
.link-container .links .link-cards {
  grid-column: 2/3;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  overflow: scroll;
}
.link-container .links .link-cards .card {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 2%;
  border-bottom: 2px solid gray;
}
.link-container .links .link-cards .card .name {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  margin-bottom: 0;
}
.link-container .links .link-cards .card .changes {
  grid-column: 2/3;
  grid-row: 1/4;
  display: flex;
  justify-content: space-around;
}
.link-container .links .link-cards .card .changes button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.link-container .links .link-cards .card .changes button img {
  height: 25px;
}
.link-container .links .link-cards .card .changes button:hover {
  transform: scale(105%);
}
.link-container .links .link-cards .card .changes button:active {
  transform: scale(90%);
}
.link-container .links .link-cards .noLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.link-container .links .link-cards .noLinks p {
  text-align: center;
  width: 60%;
}
.link-container .submit-new {
  background-color: white;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -45px;
}
.link-container .submit-new input {
  flex: 3;
  height: 100%;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1rem;
}
.link-container .submit-new button {
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #37e484;
  cursor: pointer;
}
.link-container .submit-new button:hover {
  transform: scale(105%);
}
.link-container .submit-new button:active {
  transform: scale(90%);
}

.account {
  position: absolute;
  width: 20vw;
  height: 80vh;
  right: 6%;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account .settings-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account .settings-container .settings-container-nav {
  background-color: #37e484;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 80%;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
.account .settings-container .settings {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  flex-direction: column;
}
.account .settings-container .settings .setting-card {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.account .settings-container .settings .setting-card:nth-of-type(1) {
  background-color: lightgray;
}
.account .settings-container .settings .setting-card:nth-of-type(2) {
  background-color: lightgray;
}
.account .settings-container .settings .setting-card p {
  margin: 0;
}
.account .settings-container .settings .setting-card img {
  height: 20px;
}
.account .settings-container .settings .setting-card .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.account .settings-container .settings .setting-card .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.account .settings-container .settings .setting-card .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.account .settings-container .settings .setting-card .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.account .settings-container .settings .setting-card input:checked + .slider {
  background-color: #2196f3;
}
.account .settings-container .settings .setting-card input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.account .settings-container .settings .setting-card input:checked + .slider:before {
  transform: translateX(18px);
}
.account .settings-container .settings .setting-card .slider.round {
  border-radius: 34px;
}
.account .settings-container .settings .setting-card .slider.round:before {
  border-radius: 50%;
}
.account .user-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account .user-container .user-container-nav {
  background-color: #37e484;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 80%;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
.account .user-container .profile {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10% 0 0 0;
  display: flex;
  flex-direction: column;
}
.account .user-container .profile .setting-card {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.account .user-container .profile .setting-card p {
  margin: 0;
}
.account .user-container .profile .setting-card img {
  height: 25px;
}
.account .user-container .profile .setting-card:hover {
  background-color: #37e484;
  cursor: pointer;
}
.account .user-container .profile .setting-card:nth-of-type(1) {
  background-color: lightgray;
}
.account .user-container .profile .setting-card:nth-of-type(2) {
  background-color: lightgray;
}
.account .user-container .profile .setting-card:nth-of-type(4) {
  background-color: lightgray;
}/*# sourceMappingURL=App.css.map */